/* Estilos de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

html {
  scroll-behavior: smooth;
}

/*Estilos hero y cards*/
.testhome {
  background-color: aliceblue;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded-circle {
  border-radius: 60%;
}

.shadow-lg {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/*Estilos de header*/

header {
  background-color: rgb(0, 0, 0); /* Color de fondo */
  height: 60px; /* Altura del header */
  display: flex; /* Flexbox para el contenido */
  flex-direction: row; /* Dirección horizontal */
  align-items: center; /* Alinear elementos verticalmente */
  justify-content: center; /* Centrar elementos horizontalmente */
  color: white; /* Color del texto */
  transition: opacity 0.5s ease; /* Transición suave para la opacidad */
  padding: 0 20px; /* Espaciado interior horizontal */
  z-index: 1000; /* Asegura que el header esté por encima del contenido */
  position: fixed; /* Mantiene el header fijo en la parte superior */
  width: 100%; /* Hace que el header abarque todo el ancho de la pantalla */
}

header .nav-link {
  color: rgb(228, 228, 228); /* Color de los enlaces */
  margin: 0 10px; /* Espaciado entre los enlaces */
  text-decoration: none; /* Elimina subrayado en los enlaces */
  font-weight: normal; /* Fuente en negrita para los enlaces */
  transition: color 0.3s; /* Transición suave para el cambio de color */
  font-family: 'Fira Code', monospace;
}

header .nav-link:hover {
  color: #aaa; /* Color de los enlaces al pasar el mouse */
}

header .nav-pills .nav-link.active {
  background-color: #444; /* Fondo de los enlaces activos */
}

nav {
  width: 100%;
  background: rgb(24, 24, 24);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: white; /* Cambia este color según tus necesidades */
  font-size: 18px; /* Ajusta el tamaño según tus necesidades */
  transform: scale(1.1);
}
